@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../tools/keyframes' as key;
@use '../../components/text'as txt;



h2 {
    @extend txt,
    %sectionTitle !optional;
}



/* ANIMATION */

#animation__background {
    @include mix.square(100%);
    @include mix.animationPosition;
    @include mix.whiteBackground;
    overflow-x: hidden;
    position: fixed;
    display: block;
    z-index: 10;
    animation: disappear 1.5s ease-in-out 1.5s forwards;
    -webkit-animation: disappear 1.5s ease-in-out 1.5s forwards !important;
}



#animation__ball {
    @include mix.circle(100px);
    @include mix.ballPosition;
    @include mix.ballColor;
    animation: roll 3s ease-in-out forwards;
    -webkit-animation: roll 3s ease-in-out forwards;
}