@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../components/buttons'as btn;




.heading {
    @include mix.centredBox(column);
    @include mix.lightGrayBackground;
    padding: 40px 30px;
    gap: 5px;

    &__title {
        @include mix.font(24px, 700);

        //desktop
        @media only screen and (min-width: 1025px) {
            font-size: 40px;
        }
    }

    &__subtitle {
        @include mix.darkGrayText;
        @include mix.font(18px, 300);
    }

    &__btn {
        @extend btn,%explorationBtn !optional;
        margin: 22px 0 17px 0;

        &:hover {
            filter: brightness(110%);
            box-shadow: 0 8px 30px 0px var.$extremelyTransparentGrey;
            animation-duration: 300ms;
        }
    }
}