@use '../../tools/variables' as var;
@use '../../tools/mixins' as mix;



.searchBar {
    @include mix.centredBox;
    @include mix.basicGrayBackground;
    @include mix.locationSectionShadow;
    height: 50px;
    gap: 17px;

    &__label {
        display: flex;
        width: min-content;
        height: min-content;
    }

    &__icon {
        @include mix.darkGrayText;
        width: 12px;
        filter:hue-rotate(3) ;
    }

    &__input {
        @include mix.rectangle(120px, 25px);
        @include mix.basicGrayBackground;
        @include mix.font(16px, 500);
    }
}
