@use '../tools/variables' as var;
@use '../tools/mixins' as mix;

//   ::: BASIC BUTTON :::   //   

%btn {
    @include mix.btn;
    @include mix.rounded(var.$btnRadius);
    @include mix.purpleBackground-gradient(0deg);
    @include mix.btnShadow;
    @include mix.whiteText;
    @include mix.standardTransition;

    //animation
    &:hover {
        filter: brightness(115%);
        box-shadow: 0 0 30px 0px var.$veryTransparentGrey;
    }
}



//   ::: SPECIFIC BUTTONS :::   //   

//exploration button (homePage)
%explorationBtn {
    @extend %btn;
    @include mix.wideBtn;
}

//order button (restaurantPage)

%orderBtn {
    @extend %btn;
    margin-bottom: 40px;
}