@use '../tools/variables'as var;
@use '../tools/mixins'as mix;



//   ::: EXPLANATION CARDS :::   //

%explanationCard {
    @include mix.horizontalBox;
    @include mix.rectangle(100%, var.$explanationCardsHeight);
    @include mix.rounded(var.$explanationCardsRadius);
    @include mix.lightGrayBackground;
    @include mix.explanationCardsShadow;
    position: relative;
}



//   ::: RESTAURANTS CARDS :::   //

%restaurantsCard {
    @include mix.verticalBox;
    @include mix.rounded(var.$cardsRadius);
    position: relative;

    //desktop
    @media only screen and (min-width: 1024px) {
        flex: 1 1 46%;
    }
}



//   ::: MENU CARDS :::   //

%menuCard {
    @include mix.verticalBox(stretch);
    @include mix.rectangle(100%, 70px);
    @include mix.rounded(var.$cardsRadius);
    @include mix.whiteBackground;
    @include mix.cardsShadows;
    text-align: start;
}