@use '../tools/variables'as var;
@use '../tools/mixins'as mix;



//   ::: HEART ICON :::   //

%heartIcon {
    @include mix.iconImage;
    @include mix.stroke;
    font: {
        size: 22px;
        weight: 600;
    }
    margin: 0 25px;
    transform: scaleX(0.87);
    @include mix.standardTransition;

    //animation
    &:hover {
        @include mix.purpleBackground-gradient;
        @include mix.iconImage;
        @include mix.noStroke;
    }
}



//   ::: CHECK ICON :::   //

%checkIconContainer {
    @include mix.rectangle(0, 100%);
    @include mix.rightRounded(var.$cardsRadius);
    @include mix.whiteBackground;
    @include mix.whiteIcon;
    position: relative;
    // @include mix.standardTransition;
    transition: all 3s;
}