@use '../tools/variables'as var;
@use '../tools/mixins'as mix;



//   ::: HEART ICON :::   //

%heartIcon {
    -webkit-text-stroke: 0.8px black;
    color: transparent;
    font-size: 22px;
    font-weight: 900;
    padding: 0 25px;
    transform: scaleX(0.87);
}



//   ::: CHECK ICON :::   //

%checkIconContainer {
    @include mix.rectangle(0, 100%);
    @include mix.rightRounded(var.$cardsRadius);
    @include mix.whiteBackground;
    @include mix.whiteIcon;
    position: relative;
}