img {
    object-fit: cover;
}

html, body, ul, ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header, nav, ul, main, section, div {
    display: flex;
}

ul, ol {
    list-style: none;
}