img {
    object-fit: cover;
}

html, body, ul, ol {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header, ul, li, main, section, div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}