@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../components/buttons'as btn;



.restaurantMain {
    @include mix.verticalBox(space-between);
    @include mix.lightGrayBackground;
    position: relative;
 
    //desktop
    @media screen and (min-width: 1025px) {
        padding: 0 13%;
    }
    
    //desktop
    @media screen and (min-width: 1025px) {
        @include mix.whiteBackground;
    }

    &__cover {
        @include mix.rectangle(100vw, 252px);

        //desktop
        @media screen and (min-width: 1025px) {
            height: 383px;
            max-width: 1400px;
        }
    }

    &__topRounded {
        @include mix.rectangle(100%, 40px);
        @include mix.topRounded(40px);
        @include mix.lightGrayBackground;
        position: absolute;
        top: calc(252px - 40px + 1px);

        //desktop
        @media screen and (min-width: 1025px) {
            top: calc(383px - 40px + 1px);
            width: 74%;
        }
    }

    &__content {
        @include mix.verticalBox(space-between);
        @include mix.lightGrayBackground;
        width: 100%;
        gap: 40px;
        padding: 0 13px;

        //desktop
        @media screen and (min-width: 1025px) {
            padding: 0 20%;
        }
    }

    .orderBtn {
        @extend btn,%btn !optional;
        margin-bottom: 40px;

        &:hover {
            filter: brightness(110%);
            box-shadow: 0 8px 30px 0px var.$extremelyTransparentGrey;
            animation-duration: 300ms;
        }
    }
}