@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../components/icons'as icon;



.heading {
    @include mix.horizontalBox(space-between);

    //desktop
    @media screen and (min-width: 1025px) {
        justify-content: center;
    }

    &__title {
        @include mix.font(28px, 800);
    }

    &__icon {
        @extend icon,%heartIcon !optional;
        color: var.$ultralightGray;
        position: relative;

        &:hover {
            @include mix.noStroke;
            @include mix.purpleIcon-gradient;
        }
    }
}