@use '../../tools/variables' as var;
@use '../../tools/mixins' as mix;
@use '../../components/icons' as icon;


.restaurantPage {

    .heading {
        @include mix.basicBox(row, nowrap, space-between);
        width: 100%;
        padding: 0 17px;

        &__title {
            @include mix.font(28px, 800);
            font-family: 'Shrikhand', sans-serif;
        }

        &__icon {
            @extend icon,.heartIcon !optional;
            text-shadow: 2px 4px 10px black;
            padding: 0 24px;
        }
    }
}