@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../components/cards'as cards;
@use '../../components/cards'as icons;



//menu animation
@keyframes appear {

    from {
        opacity: 0;
        translate: (-100%) 0;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
        translate: 0 0;
    }
}
@-webkit-keyframes appear {

    from {
        opacity: 0;
        margin-bottom: 100px;
        translate: (-100%) 0;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
        translate: 0 0;
    }
}
@-moz-keyframes appear {

    from {
        opacity: 0;
        margin-bottom: 100px;
        translate: (-100%) 0;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
        translate: 0 0;
    }
}

// .restaurantPage .heading + section {
//     //animation
//     animation: appear 3s ease-in-out;
//         @for $i from 1 through 3 {
//             &:nth-child(#{$i}){
//               animation-delay: $i * 3s;
//             }
//         }
//}
/*do it again*/

.plats {
    animation: appear 1.9s ease-in-out 2s;
}

.desserts {
    animation: appear 1.9s ease-in-out 2s;
}

.entrees,
.plats,
.desserts {
    @include mix.verticalBox(space-between);
    @include mix.alignment(start);
    @include mix.rectangle(100%, 300px);
    gap: 12px;

    &__title {
        @include mix.font(16px, 300);
        @include mix.underline;

        //animation
        animation: appear 1.9s ease-in-out;
    }

    &__cardsGroup {
        @include mix.rectangle(100%, 255px);
        @include mix.verticalBox(space-between);
        gap: 12px;
    }

    .card {
        @include mix.horizontalBox(space-between);
        @include mix.rectangle(100%, 70px);
        @include mix.rounded(var.$cardsRadius);
        @include mix.whiteBackground;
        @include mix.cardsShadows;
        animation: appear 1s ease-in-out forwards;
        opacity: 0;
        overflow: hidden;
        @include mix.standardTransition;
    
        //animation
        &:hover .card__icon {
            @include mix.rectangle(60px, 100%);
            @include mix.lightGreenBackground;
            opacity: 1;
        }
    
        &:hover .check-icon {
            opacity: 1;
        }
    
        //reversed
        &:not(:hover) {
            .card__icon, .check-icon {
                opacity: 0;
            }
        }
        
        //animation
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 300ms;
                translate: 0 ($i * 200%);
            }
        }

        &__content {
            @include mix.verticalBox(space-between);
            @include mix.square(100%);
            padding: 15px;
        }

        &__title {
            @include mix.font(18px, 800);
            align-self: start;
        }
    }

    .informations {
        @include mix.horizontalBox(space-between);
        width: 100%;
    }

    .card {

        &__subtitle {
            @include mix.font(15px, 300);
            @include mix.tripleDot;
            align-self: start;
        }

        .price {
            @include mix.font(15px, 700);
        }

        &__icon {
            @include mix.rectangle(0, 100%);
            @include mix.rightRounded(var.$cardsRadius);
            @include mix.whiteBackground;
            @include mix.whiteIcon;
            position: relative;
            transition: all 500ms;
        }
    }

    .check-icon {
        @include mix.centredItem;
        font-size: 20px;
        opacity: 0;
    }
}