@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../components/cards'as cards;
@use '../../components/cards'as icons;



//menu animation
@keyframes appear {

    from {
        translate: 0 -20px;
        opacity: 0;
    }

    to {
        opacity: 1;
        margin-bottom: 0;
        translate: 0 0;
    }
}

.entrees,
.plats,
.desserts {
    @include mix.verticalBox(space-between);
    @include mix.alignment(start);
    @include mix.rectangle(100%, 300px);
    gap: 12px;
    
    &__title {
        @include mix.font(16px, 300);
        @include mix.underline;
        opacity: 1;

        //animation
        animation: appear 300ms ease-in-out;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
              animation-delay: $i * 50ms;
            }
        }
    }
    
    &__cardsGroup {
        @include mix.rectangle(100%, 255px);
        @include mix.verticalBox(space-between);
        gap: 12px;
    }
    
    .card {
        @extend cards,%menuCard !optional;
        animation: appear 1.5s ease-in-out forwards;
        opacity: 0;
        overflow: hidden;

        //animation
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
              animation-delay: $i * 100ms;
            }
        }

        &__content {
            @include mix.verticalBox(space-between);
            @include mix.square(100%);
            padding: 15px;
        }

        &__title {
            @include mix.font(18px, 800);
            text-align: start;
            align-self: start;
        }
    }

    .informations {
        @include mix.horizontalBox(space-between);
        width: 100%;
    }

    .card {

        &__subtitle {
            @include mix.font(15px, 300);
            align-self: start;
        }

        .price {
            @include mix.font(15px, 700);
        }

        &__icon {
            @extend icons,%checkIconContainer !optional;
        }
    }

    .check-icon {
        @include mix.centredItem;
        font-size: 20px;
        opacity: 0;
    }
}