@use '../../tools/variables'as var;
@use '../../tools/mixins'as mix;
@use '../../components/cards'as cards;



.entrees,
.plats,
.desserts {
    @include mix.verticalBox(space-between);
    @include mix.alignment(start);
    gap: 12px;

    &__title {
        @include mix.font(16px, 300);
        @include mix.underline;
    }

    &__cardsGroup {
        @include mix.verticalBox(space-between);
        width: 100%;
        gap: 12px;
    }

    a {
        @extend cards,%menuCard !optional;
    }

    .card {
        @include mix.inheritBox;
        align-items: start;
        gap: 5px;

        &__content {
            @include mix.horizontalBox;
        }

        &__title {
            @include mix.font(18px, 500);
        }

        .informations {
            @include mix.horizontalBox(space-between);
            width: 100%;
        }

        &__subtitle {
            @include mix.font(15px, 300);
        }

        .price {
            @include mix.font(15px, 700);
        }

        &__icon {
            font-size: 20px;
        }
    }
}