* {
  font-family: Roboto, sans-serif;
}

.restaurantPage .heading__title {
  font-family: "Shrikhand", sans-serif !important;
}

address {
  font-style: normal;
}

html, body, header, main, footer, section, article, figure, img {
  width: 100%;
}

html {
  background-color: #ececec;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, fieldset {
  border: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

fieldset, figure {
  display: flex;
}

ul, ol {
  list-style: none;
}

li {
  text-indent: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.homePage .restaurant__title, .homePage h2 {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}

.heading__title {
  font: 400 28px Roboto;
}

.heading__icon, .homePage .restaurant .card__icon {
  position: relative;
  z-index: 1;
  padding: 0 25px;
  margin: 0;
  font-size: 1.4em;
}
.heading__icon:after, .homePage .restaurant .card__icon:after {
  content: "\f004";
  position: absolute;
  top: -8px;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(#9356DC, #ff79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
  -webkit-text-stroke: 0 transparent;
  box-sizing: border-box;
  padding: 0 25px;
}
.heading__icon::before, .homePage .restaurant .card__icon::before {
  position: absolute;
  top: -8px;
  left: 0;
  opacity: 1;
  -webkit-text-stroke: 0.2px black;
  transition: opacity 500ms;
  box-sizing: border-box;
  padding: 0 25px;
}
.heading__icon:hover:after, .homePage .restaurant .card__icon:hover:after {
  opacity: 1;
}
.heading__icon:hover:before, .homePage .restaurant .card__icon:hover:before {
  opacity: 0;
}

.restaurantMain .orderBtn, .homePage .heading__btn {
  height: 50px;
  width: 186px;
  color: white;
  border-radius: 25px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC, #ff79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.5s;
}
.restaurantMain .orderBtn:hover, .homePage .heading__btn:hover {
  filter: brightness(115%);
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15);
}

.homePage .heading__btn {
  width: 218px;
}

.restaurantMain .orderBtn {
  margin-bottom: 40px;
}

.homePage .explanation__cardsGroup .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.homePage .restaurant .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant .card {
    flex: 1 1 46%;
  }
}

body {
  background-color: white;
  margin: auto;
  overflow-x: hidden;
  max-width: 1400px;
}

main {
  background-color: white !important;
  overflow-x: hidden;
}

.banner {
  background-color: white;
  height: 63px;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .banner {
    height: 96px;
  }
}
.banner .returnIcon {
  position: absolute;
  left: 17px;
  top: 50%;
  translate: 0 -50%;
  font-size: 30px;
}
.banner figure {
  width: 100%;
  height: 100%;
}
.banner .logo {
  width: 200px !important;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 0 18px;
}
@media screen and (min-width: 1025px) {
  .banner .logo {
    padding: 0;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  padding: 22px 25px;
  gap: 16px;
}
@media only screen and (min-width: 1025px) {
  footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    text-align: end;
    padding: 30px 25px;
    height: 114px;
  }
}
footer * {
  color: white;
}
footer figure {
  width: 138px;
  height: 18px;
}
footer figure .logo {
  filter: invert(100%);
  height: 18px;
  padding-right: 30px;
}
footer .list {
  display: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
  gap: 7px;
}
@media only screen and (min-width: 1025px) {
  footer .list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
}
footer .list__item {
  display: flex;
  gap: 7px;
}
@media only screen and (min-width: 1025px) {
  footer .list__item {
    gap: 11px;
  }
}
footer .list__item .item1, footer .list__item .item2 {
  width: 168px;
}
footer .list__item .item3, footer .list__item .item4 {
  width: 130px;
}
footer .list__item--icon {
  align-self: center;
}
footer .list__item--text {
  font: 500 16px Roboto;
  text-align: start;
}

.homePage {
  /* ANIMATION */
}
@keyframes disappear {
  0% {
    z-index: 10;
    opacity: 1;
    display: flex;
    position: fixed;
  }
  100% {
    opacity: 0;
    display: none !important;
    z-index: 0 !important;
    position: static;
  }
}
@-webkit-keyframes disappear {
  0% {
    z-index: 10;
    opacity: 1;
    display: flex;
    position: fixed;
  }
  100% {
    opacity: 0;
    display: none !important;
    z-index: 0 !important;
    position: static;
  }
}
@-moz-keyframes disappear {
  0% {
    z-index: 10;
    opacity: 1;
    display: flex;
    position: fixed;
  }
  100% {
    opacity: 0;
    display: none !important;
    z-index: 0 !important;
    position: static;
  }
}
@keyframes roll {
  0% {
    left: 0%;
    rotate: 0deg;
  }
  24.99% {
    rotate: 360deg;
  }
  25% {
    rotate: 0deg;
  }
  49.99% {
    rotate: 360deg;
  }
  50% {
    rotate: 0deg;
  }
  74.99% {
    rotate: 360deg;
  }
  75% {
    rotate: 0deg;
  }
  100% {
    left: 130%;
    rotate: 360deg;
  }
}
@-webkit-keyframes roll {
  0% {
    left: 0%;
    rotate: 0deg;
  }
  24.99% {
    rotate: 360deg;
  }
  25% {
    rotate: 0deg;
  }
  49.99% {
    rotate: 360deg;
  }
  50% {
    rotate: 0deg;
  }
  74.99% {
    rotate: 360deg;
  }
  75% {
    rotate: 0deg;
  }
  100% {
    left: 130%;
    rotate: 360deg;
  }
}
@-moz-keyframes roll {
  0% {
    left: 0%;
    rotate: 0deg;
  }
  24.99% {
    rotate: 360deg;
  }
  25% {
    rotate: 0deg;
  }
  49.99% {
    rotate: 360deg;
  }
  50% {
    rotate: 0deg;
  }
  74.99% {
    rotate: 360deg;
  }
  75% {
    rotate: 0deg;
  }
  100% {
    left: 130%;
    rotate: 360deg;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slideIn {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-moz-keyframes slideIn {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.homePage .restaurant__title, .homePage h2 {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}
.homePage .heading__title {
  font: 400 28px Roboto;
}
.homePage #animation__background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  position: fixed;
  display: block;
  z-index: 10;
  animation: disappear 1.5s ease-in-out 1.5s forwards;
  -webkit-animation: disappear 1.5s ease-in-out 1.5s forwards !important;
}
.homePage #animation__ball {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: fixed;
  top: 50vh;
  translate: -200% -50%;
  background: radial-gradient(ellipse farthest-corner at 70% 30%, #fff, #ff79da 10% 22%, #9356dc 80% 100%);
  animation: roll 3s ease-in-out forwards;
  -webkit-animation: roll 3s ease-in-out forwards;
}
.homePage .searchBar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  gap: 17px;
}
.homePage .searchBar__label {
  display: flex;
  width: min-content;
  height: min-content;
}
.homePage .searchBar__icon {
  color: #353535;
  width: 12px;
}
.homePage .searchBar__input {
  width: 120px;
  height: 25px;
  background-color: #EAEAEA;
  font: 500 16px Roboto;
}
.homePage .restaurantMain .orderBtn, .restaurantMain .homePage .orderBtn, .homePage .heading__btn {
  height: 50px;
  width: 186px;
  color: white;
  border-radius: 25px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC, #ff79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.5s;
}
.homePage .restaurantMain .orderBtn:hover, .restaurantMain .homePage .orderBtn:hover, .homePage .heading__btn:hover {
  filter: brightness(115%);
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15);
}
.homePage .heading__btn {
  width: 218px;
}
.homePage .restaurantMain .orderBtn, .restaurantMain .homePage .orderBtn {
  margin-bottom: 40px;
}
.homePage .heading {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 40px 30px;
  gap: 5px;
}
.homePage .heading__title {
  font: 700 24px Roboto;
}
@media only screen and (min-width: 1025px) {
  .homePage .heading__title {
    font-size: 40px;
  }
}
.homePage .heading__subtitle {
  color: #353535;
  font: 300 18px Roboto;
}
.homePage .heading__btn {
  margin: 22px 0 17px 0;
}
.homePage .explanation {
  background-color: white;
  padding: 48px 20px 68px 20px;
}
@media only screen and (min-width: 1024px) {
  .homePage .explanation {
    padding: 50px 8%;
  }
}
.homePage .explanation__title {
  font: 700 24px Roboto;
}
.homePage .explanation__cardsGroup {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 25px;
}
@media only screen and (min-width: 1025px) {
  .homePage .explanation__cardsGroup {
    flex-direction: row;
    gap: 35px;
  }
}
@media only screen and (min-width: 1025px) {
  .homePage .explanation__cardsGroup .card {
    justify-content: start !important;
  }
}
.homePage .explanation__cardsGroup .card__number {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  position: absolute;
  left: -13.5px;
  top: 50%;
  translate: 0 -50%;
  text-align: center;
  color: white;
  background-color: #9356DC;
  font: 500 18px Roboto;
  padding-top: 2px;
}
.homePage .explanation__cardsGroup .card__content {
  display: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
  padding-left: 30px;
  gap: 20px;
}
.homePage .explanation__cardsGroup .card__icon {
  color: #7E7E7E;
}
.homePage .explanation__cardsGroup .card__icon--store {
  color: #9356DC;
}
.homePage h2, .homePage .restaurant__title {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}
.homePage .heading__title {
  font: 400 28px Roboto;
}
.homePage .explanation__cardsGroup .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.homePage .restaurant .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant .card {
    flex: 1 1 46%;
  }
}
.homePage .restaurant {
  background-color: #F6F6F6;
  padding: 60px 20px;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant {
    padding: 30px 8%;
  }
}
.homePage .restaurant__cardsGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  row-gap: 18px;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant__cardsGroup {
    row-gap: 50px;
    column-gap: 7%;
  }
}
.homePage .restaurant a {
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant a {
    flex: 1 1 46%;
  }
}
.homePage .restaurant .popUp {
  position: absolute;
  top: 5%;
  right: 3.7%;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font: 500 14px Roboto;
  padding: 6.5px 9.3px;
}
.homePage .restaurant img {
  border-radius: 15px 15px 0 0;
  height: 174px;
}
.homePage .restaurant .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: relative;
}
.homePage .restaurant .card__content {
  width: 100%;
  height: 77px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 16px 0 16px 16px;
}
.homePage .restaurant .card__text > * {
  align-items: start !important;
  text-align: start !important;
}
.homePage .restaurant .card__title {
  font-size: 18px;
  font-weight: 800 !important;
  margin-bottom: 5px;
}
.homePage .restaurant .card__subtitle {
  font: 300 17px Roboto;
}
.homePage .heading__btn, .restaurantMain .orderBtn {
  height: 50px;
  width: 186px;
  color: white;
  border-radius: 25px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC, #ff79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 0.5s;
}

.homePage .heading__btn:hover, .restaurantMain .orderBtn:hover {
  filter: brightness(115%);
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15);
}

.homePage .heading__btn {
  width: 218px;
}

.restaurantMain .orderBtn {
  margin-bottom: 40px;
}

.restaurantMain {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  max-width: 1400px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain {
    background-color: white;
  }
}
.restaurantMain__cover {
  width: 100vw;
  height: 252px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain__cover {
    height: 383px;
    max-width: 1400px;
  }
}
.restaurantMain__topRounded {
  width: 100%;
  height: 40px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  position: absolute;
  top: 213px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain__topRounded {
    top: 344px;
    width: 74%;
  }
}
.restaurantMain__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  width: 100%;
  gap: 40px;
  padding: 0 13px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain__content {
    padding: 0 14%;
    width: 74%;
  }
}
.restaurantMain__cover {
  max-width: none;
}
.homePage h2, .homePage .restaurant__title {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}

.heading__title {
  font: 400 28px Roboto;
}

.homePage .restaurant .card__icon, .heading__icon {
  position: relative;
  z-index: 1;
  padding: 0 25px;
  margin: 0;
  font-size: 1.4em;
}

.homePage .restaurant .card__icon:after, .heading__icon:after {
  content: "\f004";
  position: absolute;
  top: -8px;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(#9356DC, #ff79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transition: opacity 500ms;
  -webkit-text-stroke: 0 transparent;
  box-sizing: border-box;
  padding: 0 25px;
}

.homePage .restaurant .card__icon::before, .heading__icon::before {
  position: absolute;
  top: -8px;
  left: 0;
  opacity: 1;
  -webkit-text-stroke: 0.2px black;
  transition: opacity 500ms;
  box-sizing: border-box;
  padding: 0 25px;
}

.homePage .restaurant .card__icon:hover:after, .heading__icon:hover:after {
  opacity: 1;
}

.homePage .restaurant .card__icon:hover:before, .heading__icon:hover:before {
  opacity: 0;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .heading {
    justify-content: center;
  }
}
.homePage .explanation__cardsGroup .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.homePage .restaurant .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .homePage .restaurant .card {
    flex: 1 1 46%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    translate: -100% 0;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
    translate: 0 0;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
    margin-bottom: 100px;
    translate: -100% 0;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
    translate: 0 0;
  }
}
@-moz-keyframes appear {
  from {
    opacity: 0;
    margin-bottom: 100px;
    translate: -100% 0;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
    translate: 0 0;
  }
}
.entrees,
.plats,
.desserts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-align: start;
  align-items: start;
  width: 100%;
  height: 300px;
  gap: 12px;
}
.entrees__title,
.plats__title,
.desserts__title {
  font: 300 16px Roboto;
  width: 40px;
  line-height: 27px;
  border-bottom: solid 2px #99E2D0;
  animation: appear 1.9s ease-in-out;
}
.entrees__cardsGroup,
.plats__cardsGroup,
.desserts__cardsGroup {
  width: 100%;
  height: 255px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 12px;
}
.entrees .card,
.plats .card,
.desserts .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  animation: appear 1s ease-in-out forwards;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.entrees .card:hover .card__icon,
.plats .card:hover .card__icon,
.desserts .card:hover .card__icon {
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  opacity: 1;
}
.entrees .card:hover .check-icon,
.plats .card:hover .check-icon,
.desserts .card:hover .check-icon {
  opacity: 1;
}
.entrees .card:not(:hover) .card__icon, .entrees .card:not(:hover) .check-icon,
.plats .card:not(:hover) .card__icon,
.plats .card:not(:hover) .check-icon,
.desserts .card:not(:hover) .card__icon,
.desserts .card:not(:hover) .check-icon {
  opacity: 0;
}
.entrees .card:nth-child(1),
.plats .card:nth-child(1),
.desserts .card:nth-child(1) {
  animation-delay: 300ms;
  translate: 0 200%;
}
.entrees .card:nth-child(2),
.plats .card:nth-child(2),
.desserts .card:nth-child(2) {
  animation-delay: 600ms;
  translate: 0 400%;
}
.entrees .card:nth-child(3),
.plats .card:nth-child(3),
.desserts .card:nth-child(3) {
  animation-delay: 900ms;
  translate: 0 600%;
}
.entrees .card__content,
.plats .card__content,
.desserts .card__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.entrees .card__title,
.plats .card__title,
.desserts .card__title {
  font: 800 18px Roboto;
  align-self: start;
}
.entrees .informations,
.plats .informations,
.desserts .informations {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
.entrees .card__subtitle,
.plats .card__subtitle,
.desserts .card__subtitle {
  font: 300 15px Roboto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: start;
}
.entrees .card .price,
.plats .card .price,
.desserts .card .price {
  font: 700 15px Roboto;
}
.entrees .card__icon,
.plats .card__icon,
.desserts .card__icon {
  width: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: white;
  color: white;
  position: relative;
  transition: all 500ms;
}
.entrees .check-icon,
.plats .check-icon,
.desserts .check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 20px;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
