* {
  font-family: Roboto, sans-serif;
}

.restaurantPage .heading__title {
  font-family: "Shrikhand", sans-serif !important;
}

address {
  font-style: normal;
}

html, body, header, main, footer, section, article, figure, img {
  width: 100%;
}

html {
  background-color: #ececec;
}

img {
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, fieldset {
  border: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

fieldset, figure {
  display: flex;
}

ul, ol {
  list-style: none;
}

li {
  text-indent: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.homePage .restaurant__title, .homePage h2 {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}

.heading__icon, .homePage .restaurant__cardsGroup a .card__icon {
  width: 30px;
  height: 30px;
  color: white;
  text-shadow: -1px 0px black, 0px -1px 0 black, 0px 1px 0 black, 1px 0px 0 black;
  font-size: 30px;
  padding: 0 25px;
  box-sizing: content-box;
}

.restaurantMain .orderBtn, .homePage .heading__btn {
  height: 50px;
  width: 186px;
  color: white;
  border-radius: 25px;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #9356DC, #ff79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.homePage .heading__btn {
  width: 218px;
}

.homePage .explanation__cardsGroup .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.homePage .restaurant__cardsGroup a .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant__cardsGroup a .card {
    flex: 1 1 46%;
  }
}

.entrees a,
.plats a,
.desserts a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: start;
  padding: 15px;
}

body {
  background-color: white;
  max-width: 1400px;
  margin: auto;
}

main {
  background-color: white;
}

.banner {
  background-color: white;
  height: 63px;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .banner {
    height: 96px;
  }
}
.banner .returnIcon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
.banner figure {
  width: 100%;
  height: 100%;
}
.banner .logo {
  width: 200px !important;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 0 18px;
}
@media screen and (min-width: 1025px) {
  .banner .logo {
    padding: 0;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  padding: 22px 25px;
  gap: 16px;
}
@media only screen and (min-width: 1025px) {
  footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    text-align: end;
    padding: 30px 25px;
    height: 114px;
  }
}
footer * {
  color: white;
}
footer figure {
  width: 138px;
  height: 18px;
}
footer figure .logo {
  filter: invert(100%);
  height: 18px;
  padding-right: 30px;
}
footer .list {
  display: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
  gap: 7px;
}
@media only screen and (min-width: 1025px) {
  footer .list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
}
footer .list__item {
  display: flex;
  gap: 7px;
}
@media only screen and (min-width: 1025px) {
  footer .list__item {
    gap: 11px;
  }
}
footer .list__item .item1, footer .list__item .item2 {
  width: 168px;
}
footer .list__item .item3, footer .list__item .item4 {
  width: 130px;
}
footer .list__item--icon {
  align-self: center;
}
footer .list__item--text {
  font: 500 16px Roboto;
  text-align: start;
}

.homePage .restaurant__title, .homePage h2 {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}
.homePage .searchBar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  gap: 17px;
}
.homePage .searchBar__label {
  display: flex;
  width: min-content;
  height: min-content;
}
.homePage .searchBar__icon {
  color: #353535;
  width: 12px;
  filter: hue-rotate(3);
}
.homePage .searchBar__input {
  width: 120px;
  height: 25px;
  background-color: #EAEAEA;
  font: 500 16px Roboto;
}
.homePage .restaurantMain .orderBtn, .restaurantMain .homePage .orderBtn, .homePage .heading__btn {
  height: 50px;
  width: 186px;
  color: white;
  border-radius: 25px;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #9356DC, #ff79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.homePage .heading__btn {
  width: 218px;
}
.homePage .heading {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 40px 30px;
  gap: 5px;
}
.homePage .heading__title {
  font: 700 24px Roboto;
}
@media only screen and (min-width: 1025px) {
  .homePage .heading__title {
    font-size: 40px;
  }
}
.homePage .heading__subtitle {
  color: #353535;
  font: 300 18px Roboto;
}
.homePage .heading__btn {
  margin: 22px 0 17px 0;
}
.homePage .heading__btn:hover {
  filter: brightness(110%);
  box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.1);
  animation-duration: 300ms;
}
.homePage .explanation {
  background-color: white;
  padding: 48px 20px 68px 20px;
}
@media only screen and (min-width: 1024px) {
  .homePage .explanation {
    padding: 50px 8%;
  }
}
.homePage .explanation__title {
  font: 700 24px Roboto;
}
.homePage .explanation__cardsGroup {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 25px;
}
@media only screen and (min-width: 1025px) {
  .homePage .explanation__cardsGroup {
    flex-direction: row;
    gap: 35px;
  }
}
@media only screen and (min-width: 1025px) {
  .homePage .explanation__cardsGroup .card {
    justify-content: start !important;
  }
}
.homePage .explanation__cardsGroup .card__number {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  position: absolute;
  left: -13.5px;
  top: 50%;
  translate: 0 -50%;
  text-align: center;
  color: white;
  background-color: #9356DC;
  font: 500 18px Roboto;
  padding-top: 2px;
}
.homePage .explanation__cardsGroup .card__content {
  display: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
  padding-left: 30px;
  gap: 20px;
}
.homePage .explanation__cardsGroup .card__icon {
  color: #7E7E7E;
}
.homePage .explanation__cardsGroup .card__icon--store {
  color: #9356DC;
}
.homePage h2, .homePage .restaurant__title {
  font: 700 24px Roboto;
  margin-bottom: 25px;
}
.homePage .explanation__cardsGroup .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.homePage .restaurant__cardsGroup a .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant__cardsGroup a .card {
    flex: 1 1 46%;
  }
}
.homePage .entrees a, .entrees .homePage a,
.homePage .plats a,
.plats .homePage a,
.homePage .desserts a,
.desserts .homePage a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: start;
  padding: 15px;
}
.homePage .restaurant {
  background-color: #F6F6F6;
  padding: 60px 20px;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant {
    padding: 30px 8%;
  }
}
.homePage .restaurant__cardsGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  row-gap: 18px;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant__cardsGroup {
    row-gap: 50px;
    column-gap: 7%;
  }
}
.homePage .restaurant__cardsGroup a {
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .homePage .restaurant__cardsGroup a {
    flex: 1 1 46%;
  }
}
.homePage .restaurant__cardsGroup a .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: relative;
}
.homePage .restaurant__cardsGroup a .card .popUp {
  position: absolute;
  top: 5%;
  right: 3.7%;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font: 500 14px Roboto;
  padding: 6.5px 9.3px;
}
.homePage .restaurant__cardsGroup a .card img {
  border-radius: 15px 15px 0 0;
  height: 174px;
}
.homePage .restaurant__cardsGroup a .card__content {
  width: 100%;
  height: 77px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 16px 0 16px 16px;
}
.homePage .restaurant__cardsGroup a .card__text > * {
  align-items: start !important;
  text-align: start !important;
}
.homePage .restaurant__cardsGroup a .card__title {
  font: 700 18px Roboto;
  margin-bottom: 5px;
}
.homePage .restaurant__cardsGroup a .card__subtitle {
  font: 300 17px Roboto;
}
.homePage .restaurant__cardsGroup a .card__icon:hover {
  background-image: linear-gradient(#ff79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}

.homePage .heading__btn, .restaurantMain .orderBtn {
  height: 50px;
  width: 186px;
  color: white;
  border-radius: 25px;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #9356DC, #ff79DA);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.homePage .heading__btn {
  width: 218px;
}

.restaurantMain {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .restaurantMain {
    padding: 0 13%;
  }
}
@media screen and (min-width: 1025px) {
  .restaurantMain {
    background-color: white;
  }
}
.restaurantMain__cover {
  width: 100vw;
  height: 252px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain__cover {
    height: 383px;
    max-width: 1400px;
  }
}
.restaurantMain__topRounded {
  width: 100%;
  height: 40px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  position: absolute;
  top: 213px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain__topRounded {
    top: 344px;
    width: 74%;
  }
}
.restaurantMain__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  width: 100%;
  gap: 40px;
  padding: 0 13px;
}
@media screen and (min-width: 1025px) {
  .restaurantMain__content {
    padding: 0 20%;
  }
}
.restaurantMain .orderBtn {
  margin-bottom: 40px;
}

.homePage .restaurant__cardsGroup a .card__icon, .heading__icon {
  width: 30px;
  height: 30px;
  color: white;
  text-shadow: -1px 0px black, 0px -1px 0 black, 0px 1px 0 black, 1px 0px 0 black;
  font-size: 30px;
  padding: 0 25px;
  box-sizing: content-box;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .heading {
    justify-content: center;
  }
}
.heading__title {
  font: 800 28px Roboto;
}
.heading__icon {
  color: #F6F6F6;
  position: relative;
}
.heading__icon:hover {
  text-shadow: none;
  background-image: linear-gradient(#ff79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.homePage .explanation__cardsGroup .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.homePage .restaurant__cardsGroup a .card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .homePage .restaurant__cardsGroup a .card {
    flex: 1 1 46%;
  }
}
.entrees a,
.plats a,
.desserts a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: start;
  padding: 15px;
}

.entrees,
.plats,
.desserts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-align: start;
  align-items: start;
  gap: 12px;
}
.entrees__title,
.plats__title,
.desserts__title {
  font: 300 16px Roboto;
  width: 40px;
  line-height: 27px;
  border-bottom: solid 2px #99E2D0;
}
.entrees__cardsGroup,
.plats__cardsGroup,
.desserts__cardsGroup {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 12px;
}
.entrees .card,
.plats .card,
.desserts .card {
  display: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: inherit;
  align-items: start;
  gap: 5px;
}
.entrees .card__content,
.plats .card__content,
.desserts .card__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.entrees .card__title,
.plats .card__title,
.desserts .card__title {
  font: 500 18px Roboto;
}
.entrees .card .informations,
.plats .card .informations,
.desserts .card .informations {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
.entrees .card__subtitle,
.plats .card__subtitle,
.desserts .card__subtitle {
  font: 300 15px Roboto;
}
.entrees .card .price,
.plats .card .price,
.desserts .card .price {
  font: 700 15px Roboto;
}
.entrees .card__icon,
.plats .card__icon,
.desserts .card__icon {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
