@use './variables' as var;



//   ::: RADIUS :::   //

@mixin rounded($radius) {
    border-radius: $radius;
}



//   ::: BORDERS :::   //
@mixin noBorders {
    border: none;
}



//   ::: FONTS :::   //

@mixin font ($size, $weight, $family) {
    font: {
        size: $size;
        weight: $weight;
        family: $family;
    }
}



//   ::: COLORS :::   //

@mixin whiteBackground {
    background-color: white;
}

//gray backgrounds
@mixin basicGrayBackground {
    background-color: var.$grey;
}
@mixin lightGrayBackground {
    background-color: var.$lightGray;
}
@mixin darkGrayBackground {
    background-color: var.$darkGray;
}

//purple backgrounds
@mixin purpleBackground {
    background-color: var.$darkPurple;
}
@mixin purpleBackground-gradient($degrees) {
    background: linear-gradient($degrees, var.$darkPurple, var.$lightPurple); 
}



//   ::: PROPORTIONAL DIMENTIONS :::   //

@mixin fitItems($percentage) {
    flex: 1 1 $percentage;
}

@mixin fullWidth {
    width: 100%;
}

@mixin fullHeight {
    height: 100%;
}




//   ::: CONTAINERS :::   //

//container shapes
@mixin square ($size) {
    width: $size;
    height: $size;
}
@mixin rectangle ($width, $height) {
    width: $width;
    height: $height;
}

//container features
@mixin centredBox {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}
@mixin inheritBox {
    display: flex;
    flex-direction: column;
    justify-self: inherit;
    justify-items: inherit;
    justify-content: inherit;
    align-content: inherit;
    align-self: inherit;
}



//   ::: BUTTONS :::   //

@mixin btn {
    height: var.$btnHeight; 
    width: var.$btnWidth; 
    color: white;
    border-radius: var.$btnRadius;
    box-shadow: 0 4px var.$btnBlur grey;
//    background: linear-gradient(var.$lightPurple, var.$darkPurple);
}

@mixin wideBtn {
    width: 218px;
} 


//   ::: CARDS :::   //


//   ::: LINKS :::   //

@mixin linkReset {
    text-decoration: none;
    color: black;
}