@use './variables'as var;



//   ::: RADIUS :::   //

@mixin rounded($radius) {
    border-radius: $radius;
}

@mixin topRounded($radius) {
    border-radius: $radius $radius 0 0;
}

@mixin bottomRounded($radius: 15px) {
    border-radius: 0 0 15px 15px;
}



//   ::: FRAMES :::   //

//without borders
@mixin noBorders {
    border: 0;
}

//without paddings
@mixin noPadding {
    padding: 0;
}

//without margins
@mixin noMargin {
    margin: 0;
}

//without margin and padding
@mixin noFrames {
    border: none;
    padding: 0;
    margin: 0;
}

@mixin frames($padding, $margin) {
    padding: $padding;
    margin: $margin;
}



//   ::: TEXT :::   //

//font
@mixin font($size, $weight, $family: Roboto) {
    font: $weight $size $family;
}

//text colors
@mixin whiteText {
    color: white;
}

@mixin greenText {
    color: var.$darkGreen;
}

@mixin darkGrayText {
    color: var.$darkGray;
}

//icon colors
@mixin grayText {
    color: var.$grey;
}

//purple icon (hover)
@mixin purpleIcon {
    color: var.$darkPurple;
}



//   ::: ICONS :::   //

//white icon
@mixin whiteIcon {
    color: white;
}
//gray icon
@mixin greenIcon {
    color: var.$darkGreen;
}
//dark gray icon
@mixin darkGrayIcon {
    color: var.$darkGray;
}
//basic gray icon
@mixin grayIcon {
    color: var.$grey;
}
//purple icon (gradient)
@mixin purpleIcon-gradient {
    background-image: var.$purpleGradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} 



//   ::: BACKGROUNDS :::   //

//transparent background
@mixin transparentBackground {
    background-color: transparent;
}

//inherit background
@mixin inheritBackground {
    background-color: inherit;
}

//white background
@mixin whiteBackground {
    background-color: white;
}

//green backgrounds
@mixin lightGreenBackground {
    background-color: var.$lightGreen;
}

//gray backgrounds
@mixin basicGrayBackground {
    background-color: var.$lightGray;
}

@mixin lightGrayBackground {
    background-color: var.$ultralightGray;
}

@mixin darkGrayBackground {
    background-color: var.$darkGray;
}

//purple backgrounds
@mixin purpleBackground {
    background-color: var.$darkPurple;
}

@mixin purpleBackground-gradient($degrees) {
    background-image: linear-gradient($degrees, var.$darkPurple, var.$lightPurple);
}



//   ::: SHADOWS :::   //

//buttons shadows
@mixin btnShadow {
    box-shadow: 0 4px var.$btnShadowBlur 0 var.$transparentGrey;
}

//cards shadows
@mixin explanationCardsShadow {
    box-shadow: 0 4px var.$cardShadowBlur 0 var.$veryTransparentGrey;
}
@mixin cardsShadows {
    box-shadow: 0 4px var.$cardShadowBlur 0 var.$extremelyTransparentGrey;
}
@mixin locationSectionShadow {
    box-shadow: inset 0px 2px 4px var.$veryTransparentGrey;
}

//stroke effect (shadow)
@mixin noStroke {
    text-shadow: none;
}
@mixin stroke($color: black) {
    text-shadow:
        -1px 0px black,
        0px -1px 0 black,
        0px 1px 0 black,
        1px 0px 0 black;
}




//   ::: PROPORTIONAL DIMENSIONS :::   //

@mixin fitItems($percentage) {
    flex: 1 1 $percentage;
}



//   ::: CONTAINERS :::   //

//circle container
@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: $size;
}

//square container
@mixin square($size) {
    width: $size;
    height: $size;
}

//rectangle container
@mixin rectangle($width, $height) {
    width: $width;
    height: $height;
}



//   ::: CONTAINERS :::   //

//horizontal box
@mixin horizontalBox($justify-content:start) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: center;
    text-align: center;
}

//horizontal wrapped box
@mixin horizontalBox-wrapped($justify-content:start) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: center;
    text-align: center;
}

//horizontal reversed box
@mixin horizontalBox-reverse($justify-content: end) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: $justify-content;
    align-items: end;
    text-align: end;
}

//vertical box
@mixin verticalBox($justify-content:start) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: center;
    text-align: center;
}

//vertical wrapped box
@mixin verticalBox-wrapped($justify-content:start) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: center;
    text-align: center;
}

//t-shape box |=
@mixin verticalBox-cross($justify-content: start) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: start;
    text-align: start;
}

//centred box
@mixin centredBox($direction: row) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    text-align: center;
}

//inherit box
@mixin inheritBox {
    display: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-align: inherit;
}



//   ::: BUTTONS :::   //

//button types
@mixin btn {
    height: var.$btnHeight;
    width: var.$btnWidth;
    color: white;
    border-radius: var.$btnRadius;
}

@mixin wideBtn {
    width: 218px;
}



//   ::: LAYOUTS :::   //

//return icon layout
@mixin returnIconLayout {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

//logo layout
@mixin centredItem {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

//vertically centred
@mixin verticalAlign {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

//horizontally centred
@mixin horizontalAlign {
    position: absolute;
    left: 50%;
    translate: -50% 0;
}

//pop-up layout 
@mixin popUpLayout {
    position: absolute;
    top: 5%;
    right: 3.7%;
}

//circle layout
@mixin circleLayout {
    position: absolute;
    left: -13.5px;
    top: calc(50%);
    translate: 0 -50%;
    text-align: center;
}

//order button layout
@mixin orderBtnLayout {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: 0 -50%;
}

//item positioned as its parent
@mixin inheritLayout {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

//item align
@mixin alignment($alignment) {
    text-align: $alignment;
    align-items: $alignment;
}



//   ::: DECORATION :::   //

//turquoise underline
@mixin underline {
    width: 40px;
    line-height: 27px;
    border-bottom: solid 2px var.$lightGreen;
}