
//   ::: BUTTON :::   //

//exploration button
%wide-btn {
    width: 218px;
}

//order button
%small-btn {
    width: 186px;
}



//   ::: CARDS :::   //

//restaurant cards
%high-card {
    height: 340px;
    
}

//explanations cards
%medium-card {
    height: 72px;
}

//menu cards
%low-card {
    height: 69px;
}