
//   ::: BREAKPOINTS :::   //

//mobile
$mobileMinWidth: 320px;
//tablet
$mobileMaxWidth: 767px;
//desktop
$desktopMinWidth:1025px;
//large desktop
$largeDesktopMinWidth: 1400px;



//   ::: COLORS :::   //

//grey variants
$ultralightGray: #F6F6F6;
$lightGray: #EAEAEA;
$grey: #7E7E7E;
$darkGray: #353535;

//green variants
$lightGreen: #99E2D0;
$darkGreen: #008766;

//purple variants
$lightPurple: #ff79DA;
$darkPurple: #9356DC;



//   ::: GRADIENTS :::   //

//turn parameters
$dontRotate: 0deg;
$rotateRight: 90deg;
$rotateLeft: -90deg;
$rotateUpside: 180deg;



//   ::: SHADOW :::   //

//blur
$cardShadowBlur: 15px;
$btnShadowBlur: 10px;

//color
$transparentGrey: rgba(0, 0, 0, 0.25);
$veryTransparentGrey: rgba(0, 0, 0, 0.15);
$extremelyTransparentGrey: rgba(0, 0, 0, 0.10);



//   ::: ROUNDED :::   //

$btnRadius: 25px;
$explanationCardsRadius: 20px;
$cardsRadius: 15px;
$popUpRadius: 2px;



//   ::: PROPORTIONAL DIMENSIONS :::   //

//for flex basis
$per2: 47%;
$per3: 28%;
$per4: 21%;



//   ::: DIMENSIONS :::   //

//basic buttons
$btnHeight: 50px;
$btnWidth: 186px;

//big buttons
$bigBtnWidth: 218px;



//   :::  DIMENSIONS :::   //

//card heights
$restaurantCardsHeight: 340px;
$explanationCardsHeight: 72px;
$menuCardsHeight: 69px;

//card widths
$restaurantCardsWidth: 250px;
$explanationCardsWidth: 322px;
$menuCardsWidth: 399px;

//img
$imageHeight: 174px;

//desktop logo
$logoContainerHeight-Desktop: 96px;

//logo container
$logoContainerHeight: 63px;
$logoContainerWidth: 100%;

//logo
$logoHeight: 36px;
$logoWidth: 196px;

//logo half
$logoHalfWidth: calc($logoWidth / 2);
$logoHalfHeight: calc($logoHeight / 2);



//   ::: CIRCLES :::   //

//size
$circleSize: 24px;
$circleRadius: calc($circleSize / 2);