/*   ::: COLOR :::   */

//basic colors
$basicColor: (
    grey: gray);

//light color variants
$lightColor: (
    grey: darkGray,
    green: darkGreen,
    purple: darkPurple);

//dark color variants
$darkColor: (
    grey: darkGray,
    green: darkGreen,
    purple: darkPurple);


