
//   ::: BREAKPOINTS :::   //

//mobile
$mobileMinWidth: 320px;
$mobileMaxWidth: 765px;

$tabletMinWidth: 766;
$tabletMinWidth: 1200px;

$desktopMinWidth:1201px;
$desktopMinWidth: 1440px;

$largeDesktopWidth: 1401px;

//   ::: COLORS :::   //

//grey variants
$grey: #EAEAEA;
$lightGray: #F7F7F7;
$darkGray: #353535;

//green variants
$lightGreen: #99E2D0;
$darkGreen: #008766;

//purple variants
$lightPurple: #ff79DA;
$darkPurple: #9356DC;



//   ::: GRADIENTS :::   //

//turn parameters
$dontRotate: 0deg;
$rotateRight: 90deg;
$rotateLeft: -90deg;
$rotateUpside: 180deg;



//   ::: SHADOW BLUR :::   //

$cardBlur: 15px;
$btnBlur: 10px;



//   ::: ROUNDED :::   //

$btnRadius: 25px;
$explanationCardsRadius: 20px;
$menuCardsRadius: 15px;
$restaurantCardsRadius: 20px;



//   ::: PROPORTIONAL DIMENTIONS :::   //

//for flex basis
$per2: 47%;
$per3: 28%;
$per4: 21%;



//   ::: BUTTON DIMENTIONS :::   //

//basic buttons
$btnHeight: 50px;
$btnWidth: 186px;

//big buttons
$bigBtnWidth: 218px;



//   ::: CARDS DIMENTIONS :::   //

//card heights
$restaurantCardsHeight: 340px;
$explanationCardsHeight: 72px;
$menuCardsHeight: 69px;

//card widths
$restaurantCardsWidth: 250px;
$explanationCardsWidth: 322px;
$menuCardsWidth: 399px;



//   ::: ICONS :::   //