@use '../tools/variables'as var;
@use '../tools/mixins'as mix;
@use '../components/buttons'as btn;
@use '../components/cards'as cards;
@use '../components/icons'as icons;



//   ::: CARDS :::   //

//normal
%cardAnimation {
    &:hover .card__icon,
    &:focus .card__icon {
        @include mix.rectangle(60px, 100%);
        @include mix.lightGreenBackground;
        @include mix.standardTransition;
        opacity: 1;
    }

    &:hover .check-icon {
        @include mix.standardTransition;
        opacity: 1;
    }

    //reversed
    &:not(:hover) {
        .card__icon, .check-icon {
            @include mix.standardTransition;
        }
    }
}



//   ::: BUTTONS :::   //

%btnAnimation {
    &:hover {
        @include mix.standardTransition;
        filter: brightness(115%);
        box-shadow: 0 8px 30px 0px var.$extremelyTransparentGrey;
    }
}



//   ::: ICONS :::   //

//heart icon animation
%heartIconAnimation {
    &:hover {
        @include mix.standardTransition;
        @include mix.purpleIcon-gradient;
        -webkit-text-stroke: 0px transparent;
    }
}
