@use '../tools/variables' as var;



.fa-heart {
    &:focus,
    &:hover {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(var.$lightPurple, var.$darkPurple);
        text-shadow: none;
    }
}

.explanations {
    .card__icon {
        &:focus,
        &:hover {
            color: var.$darkPurple;
        }
    }
}