body {
        background-color: white;
        margin: auto;
        overflow-x: hidden;
        max-width: 1400px;
}

main {
        background-color: white !important;
        overflow-x: hidden;
}