@use '../tools/mixins' as mix;
@use '../tools/variables' as var;


.explanation {
    @include mix.whiteBackground;
    padding: 48px 20px; 
    //desktop
    @media only screen and (min-width: 1024px) {
        max-width: 1400px;
        padding: 50px 13%;
    }
    
    &__title {
        @include mix.font(24px, 700);
    }

    &__cardsGroup {
        @include mix.basicBox(column, nowrap, space-between);
        margin-bottom: 20px;
        gap: 25px;   
        //desktop
        @media only screen and (min-width: 1025px) {
            flex-direction: row;
            gap: 35px;
        }
        
        .card {
            @extend card,.explanationCard !optional;

            &__number {
                @include mix.square(var.$circleSize);
                @include mix.rounded(var.$circleRadius);
                @include mix.purpleBackground;
                @include mix.whiteText;
                @include mix.circleLayout;
                @include mix.font(18px, 500);
                text-align: center;
                padding-top: 2px;
            }
            
            &__content {
                @include mix.basicBox;

                & > * {
                    padding-left: 10%;
                }
            }
            
            &__icon {
                @include mix.iconColor;
            }
        }
    }
}