
@use '../tools/mixins' as mix;
@use '../tools/variables' as var;



footer {
    @include mix.basicBox(column, nowrap, start);
    @include mix.darkGrayBackground;
    width: 100%;
    padding: 22px 25px;
    //desktop
    @media only screen and (min-width: 1025px) {
        @include mix.basicBox(row-reverse, nowrap, end);
        height: 114px;
        align-items: end;
    }

    .logoContainer {
        @include mix.fullWidth;
        height: 18px;
        margin-bottom: 16px;
        //desktop
        @media only screen and (min-width: 1025px) {
            width: 100px;
            margin-left: 70px;
            margin-bottom: 0;
        }

        img {
            width: 100px;
            filter: invert(100%);
        }
    }

    .list {
        @include mix.inheritBox;
        //desktop
        @media only screen and (min-width: 1025px) {
            @include mix.basicBox(row, nowrap, start);
            gap: 12px;
        }

        &__item {
            @include mix.whiteText;
            @include mix.font(16px, 300);

            .fa-handshake-angle {
                font-size: 0.8em;
            }

            &--text {
                @include mix.font(16px, 500);
                padding-left: 0 7px 0 11px;
            }

            .space {
                margin-right: 20px;
            }
            
            &--link {
                @include mix.whiteText;
                @include mix.font(16px, 300);
            }
        }
    }
}