
@use '../tools/mixins' as mix;
@use '../tools/variables' as var;



footer {
    @include mix.darkGrayBackground;
    @include mix.verticalBox-cross(space-between);
    padding: 22px 25px;
    gap: 16px;
    //desktop
    @media only screen and (min-width: 1025px) {
        @include mix.horizontalBox-reverse;
        padding: 30px 25px;
        height: 114px;
    }

    * {
        @include mix.whiteText;
    }
    
    figure {
        @include mix.rectangle(138px, 18px);
        
        .logo {
            filter: invert(100%);
            height: 18px;
            padding-right: 30px;
        }
    }

    .list {
        @include mix.inheritBox;
        gap: 7px;
        //desktop
        @media only screen and (min-width: 1025px) {
            @include mix.horizontalBox;
        }

        &__item {
            display: flex;
            gap: 7px;
            @media only screen and (min-width: 1025px) {
                gap: 11px;
            }

            .item1, .item2 {
                width: 168px;
            }

            .item3, .item4 {
                width: 130px;
            }

            &--icon {
                align-self: center;
            }

            &--text {
                @include mix.font(16px, 500);
                text-align: start;
            }
        }
    }
}