
/*@use '../tools/mixins' as mix;
@use '../tools/variables' as var;
@use '../tools/placeholders' as ext;
@use '../components/buttons' as btn;*/



.banner {
    width: 100%;

    figure {
        color: red;
    };

    .location {

        &__icon {
            color: red;
        };

        &__text {
            color: red;
        }
    }


    .heading {
        @include rectangle(0px, 287.5px, 0px);

        &__title {
            font: {
                size: 24px;
                weight: 700;
                justify-content: center;
            }
        }

        &__subtitle {
            font: {
                size: 18px;
                weight: 300;
            }
        }

        &__btn {  
            @extend .btn !optional;
            @extend %wide--btn;
        }
        
    }
}