@use '../tools/variables' as var;
@use '../tools/mixins' as mix;



.banner {
    @include mix.whiteBackground;
    height: var.$logoContainerHeight;
    position: relative;
    //desktop
    @media screen and (min-width: 1025px) {
        height: var.$logoContainerHeight-Desktop;
    }

    .iconLink {
        @include mix.returnIconLayout;
        @include mix.square(30px);
        display: flex;
        
        .icon {
            font-size: 30px;
        }
    }

    .logoContainer {
        
        img {
            @include mix.rectangle(var.$logoWidth, auto);
            @include mix.centredItem;
            padding: 0 18px;
            //desktop
            @media screen and (min-width: 1025px) {
                @include mix.noPadding;
            }
        }
    }
}