.explanations {

    &__cardsGroup {
    @extend %medium-card !optional;

    &__title {
        font: {
            size: 24px;
            weight: 700;
        }
    }
}
}

.restaurants {

    &__title {
        font: {
            size: 16px;
            weight: 500;
        }
    }

    &__cardsGroup {
        @extend %high-card !optional;
    }

}

.entrees__cards {
    @extend %low-card !optional;
}
