@use '../tools/mixins' as mix;
@use '../tools/variables' as var;
@use '../components/cards' as card;


.explanations {
    @include mix.whiteBackground;
    padding: 28px 22px;
    flex-wrap: wrap;
    //desktop
    
    &__title {
        @include mix.font(24px, 700);
        //desktop
        @media only screen and (min-width: 1400px) {
            padding-left: 11vw;
        }
    }

    &__cardsGroup {
        @include mix.basicBox(row, wrap, center);
        width: 100%;
        gap: 25px;
        padding-bottom: 40px;
        //desktop
        @media only screen and (min-width: 960px) {
            justify-content: center;
            gap: 35px;
        }
        
        .card {
            @include mix.rounded(var.$explanationCardsRadius);
            @include mix.lightGrayBackground;
            @include mix.explanationCardsShadow;
            height: var.$explanationCardsHeight;
            flex: 1 0 20%;
            min-width: 264px;
            text-align: center;
            margin-left: 12px;
            //desktop
            @media only screen and (min-width: 960px) {
                max-width: 322px;
            }

            &__number {
                @include mix.square(var.$circleSize);
                @include mix.rounded(var.$circleRadius);
                @include mix.purpleBackground;
                @include mix.whiteText;
                @include mix.circleLayout;
                @include mix.font(18px, 500);
                text-align: center;
                padding-top: 3px;
            }

            &__content {
                @include mix.basicBox(row, nowrap, start);
                align-content: center;
                

                .fa-mobile-screen-button {
                    @include mix.iconLayout;
                    @include mix.iconColor;
                }

                .fa-list {
                    @include mix.iconLayout;
                    @include mix.iconColor;
                }

                .fa-store {
                    @include mix.iconLayout;
                    @include mix.iconColor;
                }
            }
        }
    }
}



.restaurants {
    @include mix.lightGrayBackground;
    padding: 28px 22px;
    //desktop
    @media only screen and (min-width: 960px) {
        margin: 0;
    }

    &__title {
        @include mix.font(24px, 700);
        //desktop
        @media only screen and (min-width: 1400px) {
            padding-left: 11vw;
        }
    }

    &__cardsGroup {
        @include mix.basicBox(row, wrap, center);
        row-gap: 18px;
        column-gap: 50px;
        //desktop
        @media only screen and (min-width: 960px) {
            row-gap: 50px;
            column-gap: 5%;
        }
        

        .card {
            @include mix.basicBox(column, nowrap, start);
            @include mix.rounded(15px);
            @include mix.cardsShadows;
            flex: 1 1 47%;
            position: relative;
            min-width: 285px;
            //desktop
            @media only screen and (min-width: 960px) {
                max-width: 490px;
            }

            &__link {
                @include mix.rounded(15px);
            }

            .popUp {
                @include mix.popUpLayout;
                @include mix.rounded(var.$popUpRadius);
                @include mix.lightGreenBackground;
                @include mix.greenText;
                @include mix.font(14px, 500);
                padding: 6.5px 9.3px;
            }

            figure {
                @include mix.whiteBackground;
                @include mix.topRounded;
            }

            img {
                @include mix.topRounded;
                height: 174px;
            }

            &__content {
                @include mix.rectangle(100%, 77px);
                @include mix.basicBox(row, nowrap, space-between);
                @include mix.whiteBackground;
                @include mix.bottomRounded;
                padding: 16px 12px;
                
            }

            &__text {
                padding-right: 50px;

                &--title {
                    @include mix.font(18px, 700);
                }

                &--subtitle {
                    @include mix.font(17px, 300);
                }
            }

            &__icon {
                @include mix.whiteText;
                padding: 5px 12px;
                font-size:x-large;
                -webkit-text-stroke: 1px black;
            }
        }
    }
}

